<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="" method="POST">
    {% csrf_token %}


        <div>
        <label for="title">Title</label>
        <input name="title" id="" value="" />
    </div>

       <div>
        <label for="author">Author</label>
        <input name="author" id="" value="" />
    </div>


           <div>
        <label for="genre">Genre</label>
        <input name="genre" id="" value="" />
    </div>


               <div>
        <label for="language">Language</label>
        <input name="language" id="" value="" />
    </div>



    <div>
        <button>Send my greetings</button>
    </div>
</form>
</body>
</html>
